.grid {
	display: flex;
	flex-wrap: wrap;
	width: 560px;
	height: 560px;
	border: solid black;
}

.grid div {
	width: 20px;
	height: 20px;
}

.pac-dot {
	background-color: green;
	border: 5px solid white;
	box-sizing: border-box;
}

.wall {
	background-color: blue;
}

.power-pellet {
	background-color: green;
	border-radius: 10px;
}

.pac-man {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;  
  border: 10px solid green;
  box-sizing:border-box;
  border-right-color: transparent;
}

.pac-man:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:50%;
  background-image:inherit;
  background-size:100% 200%;
}

.blinky {
	background-color: red;
	border: 0px;
}

.pinky {
	background-color: pink;
	border: 0px;
}

.inky {
	background-color: cyan;
	border: 0px;
}

.clyde {
	background-color: orange;
	border: 0px;
}

.scared-ghost {
	background-color: aquamarine;
	border: 0px;
}

#gameover {
  font-family: 'VT323';
  font-size:8em;
  text-align:center;
  color:lime;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f4511e;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
  color: white;
}
